@font-face {
    font-family: Gazebo;
    src: url(./recursos/fuentes/Gazebo.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gazebo;
}



html
{
    min-width: 480px;
}

@media  screen and (max-width:769px) {
    h1{
        font-size: 95%;
    }
    h2{
        font-size: 90%;
    }
    h3{
        font-size: 90%;
    }
    h4{
        font-size: 90%;
    }
    li{
        font-size: 80%;
    }
    a{
        font-size: 80%;
    }
    p{
        font-size: 80%;
    }
}